# Ignore Gradle project-specific cache directory
.gradle

# Ignore Kotlin project-specific cache directory
.kotlin

# Ignore IDE related folders
.idea

# Ignore Gradle build output directory
build

# User settings
xcuserdata/

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Local-only property files
local.properties
keystore.properties

# Stop recording updates
Versions.xcconfig